<div>
  <md-toolbar layout="row" layout-align="center center" class="chat__navbar">
    <div flex layout="row">
      <md-button class="chat__form__prev-button md-raised md-accent md-hue-3"
              ng-click="togglePreviewMessage()"
      >
        {{preview ? "Hide" : "Show"}} Preview
      </md-button>
    </div>

    <div class="chat__navbar-sound" layout="column" layout-align="center center">
      <md-button ng-click="changeVolume()" class="md-icon-button">
        <ng-md-icon ng-show="volume === 1" icon="volume_up" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
        <ng-md-icon ng-show="volume === 0" icon="volume_down" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
        <ng-md-icon ng-show="volume === -1" icon="volume_mute" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form ng-submit="submit()" 
        class="chat__form"
        name="newMessForm" 
        ng-disabled="newMessForm.$invalid"
  >
    <input type="text" 
            class=""
            ng-model="username" 
            placeholder="Username"
            ng-maxlength="nameMaxLength"
            required
    />

    <textarea type="text" 
            class=""
            ng-model="newMess" 
            placeholder="Chat !" 
            ng-maxlength="maxLength" 
            required 
    >
    </textarea>

    <div class="chat__form__sub">
      <button type="submit"
              class="chat__form__sub-button" 
              ng-disabled="newMessForm.$invalid"
      >
        Submit
      </button>
    </div>

    <div id="preview" ng-if="newMess && preview">
      <h3>Preview</h3>
      <div ng-bind-html="newMess | messagePreview | smiley">
      </div>
    </div>
  </form>

  <div id="chatBox" class="">
    <mess-table data="messages"></mess-table>
  </div>
  <chat-sound src-sound="srcSound"></chat-sound>
</div>