<div>
  <md-toolbar layout="row" layout-align="space-between center" class="chat__navbar">
    <div layout="row" layout-align="center center center">
      <div ng-if="usersConnected" layout="row" layout-align="space-between center" layout-padding>
        <ng-md-icon icon="face" style="fill: white"></ng-md-icon><span>{{usersConnected.number}}</span>
      </div>
    </div>

    <div class="chat__navbar-sound" layout="column" layout-align="center center">
      <md-button ng-click="changeVolume()" class="md-icon-button" aria-label="change volume">
        <ng-md-icon ng-show="volume === 1" icon="volume_up" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
        <ng-md-icon ng-show="volume === 0" icon="volume_down" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
        <ng-md-icon ng-show="volume === -1" icon="volume_mute" layout="row" layout-align="center center" style="fill: white"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <form ng-submit="submit()" 
          class="chat__form"
          name="newMessForm" 
          ng-disabled="newMessForm.$invalid"
          layout="column"
    >
      <md-input-container>
        <label>Username</label>

        <input type="text" 
                class=""
                ng-model="username" 
                name="username"
                aria-label="Username"
                ng-maxlength="nameMaxLength"
        />

        <div ng-messages="newMessForm.username.$error" multiple md-auto-hide="true">
          <div ng-message="maxlength">
            The username must be composed of less than {{nameMaxLength}} characters.
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Message</label>

        <textarea type="text" 
                class=""
                ng-model="newMess" 
                name="newMess"
                aria-label="message" 
                ng-maxlength="maxLength" 
                required 
        >
        </textarea>

        <div ng-messages="newMessForm.newMess.$error" multiple md-auto-hide="true">
          <div ng-message="required">
            You must enter an message.
          </div>
          <div ng-message="maxlength">
            The max size for the message is {{maxLength}}.
          </div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="space-between center">
        <md-button class="chat__form__prev-button md-raised md-accent md-hue-3"
                ng-click="togglePreviewMessage()"
        >
          {{preview ? "Hide" : "Show"}} Preview
        </md-button>

        <md-button type="submit"
                class="md-raised md-primary" 
                ng-disabled="newMessForm.$invalid"
        >
          Submit
        </md-button>
      </div>
    </form>

    <md-content id="preview" ng-if="newMess && preview">
        <h3>Preview</h3>
        <div ng-bind-html="newMess | messagePreview | smiley">
        </div>
    </md-content>
  </md-content>

  <div id="chatBox" class="">
    <mess-table data="messages"></mess-table>
  </div>
  <chat-sound src-sound="srcSound"></chat-sound>
</div>