<div>
  <div class="chat__navbar">
    <button class="chat__form__prev-button"
            ng-click="togglePreviewMessage()"
    >
      {{preview ? "Hide" : "Show"}} Preview
    </button>

    <span ng-click="changeVolume()" class="chat__navbar-sound">
      <span ng-show="volume === 1" class=""></span>
      <span ng-show="volume === 0" class=""></span>
      <span ng-show="volume === -1" class=""></span>
    </span>
  </div>
  <form ng-submit="submit()" 
        class="chat__form"
        name="newMessForm" 
        ng-disabled="newMessForm.$invalid"
  >
    <input type="text" 
            class=""
            ng-model="username" 
            placeholder="Username"
            ng-maxlength="nameMaxLength"
            required
    />

    <textarea type="text" 
            class=""
            ng-model="newMess" 
            placeholder="Chat !" 
            ng-maxlength="maxLength" 
            required 
    >
    </textarea>

    <div class="chat__form__sub">
      <button type="submit"
              class="chat__form__sub-button" 
              ng-disabled="newMessForm.$invalid"
      >
        Submit
      </button>
    </div>

    <div id="preview" ng-if="newMess && preview">
      <h3>Preview</h3>
      <div ng-bind-html="newMess | messagePreview | smiley">
      </div>
    </div>
  </form>

  <div id="chatBox" class="">
    <mess-table data="messages"></mess-table>
  </div>
  <chat-sound src-sound="srcSound"></chat-sound>
</div>