.chat {
  &__navbar{

    &-sound{
    }
  }
  &__form {
    &__prev{
      &-button{
        
      }
    }
    &__sub {
      position: relative;
      height: 33px;

      &-button {
        position: absolute;
        right: 0px;
      }
    }
  }
}

.mess {
  &__username {
    font-size: 16px;
  }
  &__time {
    font-style: italic;
    color: gray;
    padding-top: 0px !important;
  }
  &__wrapper {
    overflow-y: hidden;
    overflow-x: auto;
  }
}